<html>
<head>
<title><%=title%></title>
<link rel="stylesheet" href="css/space.min.css">
<link rel="stylesheet" href="css/bootstrap-social-gh-pages/bootstrap-social.css">
<link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container-fluid jumbotron">
  <div class='col-sm-6 col-sm-offset-6 top-margin'>
    <div class="pull-right">
      <% if (isAuthenticated) { %>
      <%- partial('partials/userloggedin')%>
      <%} else { %>
      <%- partial('partials/userloggedout')%>
      <%}%>
    </div>
  </div>
	<div class='row'>
  	<div class='col-sm-6'><h1>TAlKie</h1></div>
  </div>
    <div class='col-sm-6'>
    <p>A Simple chat application built on Node js.<br>
        <%-body%></p>
  </div>
</div>
</body>
</html>