<html>
<head>
<title><%=title%></title>
</head>
<body>
<div class="container">
<form  method="post" action="/login" class="form-horizontal">
      <!--<input type="hidden" name="_csrf" value="<%= token %>"> -->
       <div class="form-group">
      <label for="username" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="username" placeholder="Username" name="username">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-success">Sign in</button>
</form>
        <button class="btn btn-primary btn-social facebook"><span class="fa fa-facebook"></span>Login with Facebook</button>
        <button class="btn btn-primary btn-social google"><span class="fa fa-google"></span>Login with Google</button>

</div>
</body>
</html>